[colors]
; Nord theme ============
background = #173f4f
foreground = #ccedea
;alert = #bd2c40
alert = #d08770
main = #00a489
grey = #cbcfd3
dark-grey = #8b9fa7

[fonts]
;https://github.com/jaagr/polybar/wiki/Fonts
font0 = "CaskaydiaCove Nerd Font:size=11;3"
font1 = "Font Awesome 5 Free:style=Regular:size=13;3"
font2 = "Font Awesome 5 Free:style=Solid:size=13;3"
font3 = "Font Awesome 5 Brands:style=Regular:size=13;3"
