[colors]
; Nord theme ============
background = #2F343F
foreground = #f3f4f5
;alert = #d08770
alert = #bd2c40
volume-min = #a3be8c
volume-med = #ebcb8b
volume-max = #bf616a
main = #0076cf
grey = #aeaeae
dark-grey = #acacac

[fonts]
;https://github.com/jaagr/polybar/wiki/Fonts
font0 = "CaskaydiaCove Nerd Font:size=11;3"
font1 = "Font Awesome 5 Free:style=Regular:size=13;3"
font2 = "Font Awesome 5 Free:style=Solid:size=13;3"
font3 = "Font Awesome 5 Brands:style=Regular:size=13;3"
