[colors]
; theme ============
background = #2F343F
foreground = #f3f4f5
alert = #bd2c40
main = ##MAIN_COLOUR##
grey = #aeaeae
dark-grey = #acacac

[fonts]
;https://github.com/jaagr/polybar/wiki/Fonts
font0 = "##FONT##:size=11;3"
font1 = "Font Awesome 5 Free:style=Regular:size=13;3"
font2 = "Font Awesome 5 Free:style=Solid:size=13;3"
font3 = "Font Awesome 5 Brands:style=Regular:size=13;3"
