[colors]
; Nord theme ============
background = #2F343F
foreground = #f3f4f5
;alert = #d08770
alert = #bd2c40
volume-min = #a3be8c
volume-med = #ebcb8b
volume-max = #bf616a
main = #0076cf
grey = #aeaeae
dark-grey = #acacac

[fonts]
;https://github.com/jaagr/polybar/wiki/Fonts
font0 = "Liberation Mono:size=11;3"
font1 = "FontAwesome:size=13;3"
font2 = "FontAwesome5Brands:size=13;3"
font3 = "FontAwesome5Free:size=13;3"
